*{
  margin:0;
  padding: 0;
}
body{
  height:100vh;
  background-image:linear-gradient(#c3aef2,#190061);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}